// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$font-size-root: 20px;
$color1: #35688f;
$color2: rgb(49, 84, 110);
$color3: #29455c;
$color4: #203b52;
$bg: #1b2838;
$tabs-bar-background-color: #0D0D0F;