@font-face {
    font-family: "Metropolis-Regular";
    src: url(../fonts/Metropolis/Metropolis-Regular.otf);
}
@font-face {
    font-family: "Metropolis-Medium";
    src: url(../fonts/Metropolis/Metropolis-Medium.otf);
}
@font-face {
    font-family: "Metropolis-Bold";
    src: url(../fonts/Metropolis/Metropolis-Bold.otf);
}
@font-face {
    font-family: "Metropolis-Extrabold";
    src: url(../fonts/Metropolis/Metropolis-ExtraBold.otf);
}

body {
    font-family: "Metropolis-Regular";
    background-color: #091a28;
    color: #ebf4f1;
}

.text-white {
    color: #ebf4f1;
}

.heading-stroke {
    position: relative;
    display: inline-block;
    letter-spacing: .025em;
    font-family: "Metropolis-Extrabold";
}
.heading-stroke::after {
    content: attr(data-title);
    z-index: -1;
    text-transform: uppercase;
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(100% + 5px);
    color: #091a28;
    text-shadow: -1px -1px 0 #41b883, 1px -1px 0 #41b883, -1px 1px 0 #41b883, 1px 1px 0 #41b883;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}