.plyr__control:hover {
    background: #3b8070 !important;
}
.plyr__control--overlaid {
    background: #3b8070 !important;
    padding: 20px !important;
}
.plyr__control--overlaid svg {
    width: 30px !important;
    height: 30px !important;
}
.plyr--full-ui input[type=range] {
    color: 	#3b8070 !important;
}

.plyr--audio .plyr__controls {
    background-color: #ebf4f1;
}