//Text
$h1_color: #ffffff;
$h2_color: #ffffff;
$h3_color: #ffffff;
$h4_color: #ffffff;
$p_color: #ffffff;
//Scrollbar
$scrollbarThumb_color: #1A1E21;
$scrollbarThumb_borderRadius: 8px;
$scrollbar_width: 9px;
$scrollbarTrack_borderRadius: 8px;
//
$body_backgroundColor: #121212;
$svg_color: #ffffff;
$svgLeftMenu_size: 2em;
$liBlock_backgroundColor: #1f1f1f;
//Grid titles (index.vue)
$indexTitles_columns: 4;
$indexTitles_gap: 2em;
//
$leftMenuSvg_size: 1.6em;
$leftMenuVoicer_color: #1e1e1e;
$seriesButtons_color: rgb(39, 39, 39);
//
$watchAnimeBlocks_backgroundColor: rgb(39, 39, 39);
$watchAnimeSeries_backgroundColor: $watchAnimeBlocks_backgroundColor;